<div id="sidebar">
    <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/report']">
            <mat-icon class="sidenav-icon">build</mat-icon> Report
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/admin']">
            <mat-icon class="sidenav-icon">people</mat-icon> Admin
        </a>
    </mat-nav-list>
</div>

<mat-sidenav #sidenav autoFocus="false" mode="over" [(opened)]="isMenuOpen" class="sidenav" (click)="onSidenavClick()">
    <!-- more code here -->
</mat-sidenav>